.artist-info img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Corta a imagem para caber no contêiner mantendo a proporção */
    object-position: center 30%; /* Centraliza a imagem dentro do contêiner */
}

.artist-info h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 80px;
}

.artist-info h5 {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
}